# Telegram Bot Token
BOT_TOKEN=8927847222:AAFy53kwnFdGfSr24yUcPlqUhZOQ-nOeSlk

# Admin Telegram ID (Statistika va Admin panel uchun)
ADMIN_ID=0

# YouTube Cookies (Netscape formatida - ixtiyoriy, IP blokining eng asosiy yechimi)
# COOKIES_TEXT=
